.app-layout {
    display: flex;
    flex-direction: column;
    height: 100vh !important;
    min-width: 1280px;
    min-height: 720px;
}

.clusters-table,
.accounts-table,
.audit-logs-table,
.nodes-table,
.configmaps-table {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 0;
}

    .clusters-table .mud-table-container,
    .accounts-table .mud-table-container,
    .audit-logs-table .mud-table-container,
    .nodes-table .mud-table-container,
    .configmaps-table .mud-table-container {
        flex: 1 1 auto;
    }

    .clusters-table .mud-table-pagination,
    .accounts-table .mud-table-pagination,
    .audit-logs-table .mud-table-pagination,
    .nodes-table .mud-table-pagination,
    .configmaps-table .mud-table-pagination {
        overflow: visible;
    }

.group-dialog {
    overflow: visible !important;
}

.cluster-sidebar .sidebar-item-active {
    background-color: var(--mud-palette-primary);
    color: var(--mud-palette-primary-text);
}

    .cluster-sidebar .sidebar-item-active:hover {
        background-color: var(--mud-palette-primary);
    }
